.carousel {
  width: 100%;
  height: 100vh;
  overflow-y: auto;
  position: relative;
  background-color: white;
}

.carousel-image {
  width: 100%;
  height: 60vh;
  object-fit: cover;
  margin-bottom: 10px;
}

.carousel img {
  display: block;
}
