/* .left-section {
  flex: 7;
  width: 100%;
  height: 100vh;
  background-color: #f0f0f0;
  display: flex;
} */

.container {
  position: relative;
  min-height: 100vh;
}

.decor {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 2%;
  width: 3px;
  background-color: #a29320;
}

/* .decor::before { */
/* content: "";
  position: absolute;
  top: 0;
  bottom: 0;
  left: 10%;
  width: 1px;
  background-color: #a29320;
  transform: translateX(-50%); */
/* } */

/* .carousel {
  flex: 6.5;
} */

.right-section {
  flex: 5;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
}

/* @media (max-width: 800px) {
  .left-section {
    width: 100vw;
  }

  .right-section {
    flex: 0;
  }

  .carousel {
    width: 100vw;
  }
} */