.modal-overlay {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.9);
    display: flex;
    align-items: center;
    justify-content: center;
    z-index: 1000;
}

.modal-content {
    font-family: "Quicksand", system-ui;
    font-optical-sizing: auto;
    background: black;
    padding: 15px;
    overflow: auto;
    position: relative;
}

.modal-content figcaption {
    font-optical-sizing: auto;
    font-weight: 400;
    font-size: 20px;
    background-color: black;
    color: rgb(189, 189, 189);
    text-align: end;
}

.material-symbols-outlined {
    color: white;
    font-size: 2rem;
}

/* Remove button styligng */
.modal-close,
.modal-propagate-arrow {
    font-family: "Material Symbols Outlined", sans-serif;
    text-align: center;
    display: flex;
    align-items: center;
    justify-content: center;
    background: rgba(0, 0, 0, 0.9);
    border: none;
    border-radius: 50%;
    cursor: pointer;
    opacity: 0;
    padding: 6px;
}

/* Modal X close button specific styling */
.modal-close {
    position: absolute;
    right: 15px;
}

/* Modal propagate arrow button specific styling */
.modal-propagate-arrow {
    text-align: center;
    display: flex;
    align-items: center;
    justify-content: center;
}

#modal-right-arrow {
    position: absolute;
    top: 50%;
    right: 10px;
    margin-right: 10px;
}

#modal-left-arrow {
    position: absolute;
    top: 50%;
    left: 10px;
    margin-left: 10px;
}

/* Change button opacity on hover */
.modal-content:hover .modal-close,
.modal-content:hover .modal-propagate-arrow {
    opacity: 70%;
}