.modal-overlay {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.9);
    display: flex;
    align-items: center;
    justify-content: center;
    z-index: 1000;
}

.modal-content {
    background: black;
    padding: 15px;
    overflow: auto;
    position: relative;
}

.modal-content figcaption {
    font-family: "Quicksand", system-ui;
    font-optical-sizing: auto;
    font-weight: 400;
    font-size: 20px;
    background-color: black;
    color: rgb(189, 189, 189);
    text-align: end;
}

.modal-close {
    font-family: "Quicksand", system-ui;
    position: absolute;
    right: 15px;
    font-size: 16px;
    cursor: pointer;
    color: white;
    opacity: 0;
    background: rgba(0, 0, 0, 0.9);
}

.modal-content:hover .modal-close {
    opacity: 1;
}

.modal-propagate-arrow {
    font-family: "Quicksand", system-ui;
    background: rgba(0, 0, 0, 0.9);
    font-size: 16px;
    cursor: pointer;
    color: white;
}