.exif-symbol-group {
    display: flex;
    flex-direction: row;
}


.exif-symbols {
    font-size: 2.5rem;
}

.exif-double {
    display: flex;
    justify-content: space-evenly;
    flex-direction: column;
    margin-left: 0.75rem;
}

.exif-data {
    font-family: "Quicksand", system-ui;
    font-size: 1rem;
}