.exif-symbol-group {
    display: flex;
    flex-direction: row;
}

.exif-symbols {
    display: flex;
    flex-direction: column;
    justify-content: center;
    font-size: 1.5rem;
    margin: 0.15rem 0.75rem;
}

.exif-double {
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
}

.exif-data {
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    font-family: "Quicksand", system-ui;
    font-size: 1rem;
}