* {
  box-sizing: border-box;
}

.container {
  display: flex;
  max-width: 100vw;
  place-items: space-between;
}

.left-section {
  flex: 7;
  width: 100vw;
  height: 100vh;
  background-color: #f0f0f0;
  display: flex;
}

.decor {
  flex: 0.5;
  background-color: red;
}

.carousel {
  flex: 6.5;
}

.right-section {
  flex: 5;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
}

.header-container {
  display: flex;
  margin-left: auto;
}

@media (min-width: 576px) {
  .container,
  .container-sm {
    max-width: 100vw !important;
  }
}

#basic-nav-dropdown {
  font-family: "Orbitron", system-ui;
  font-size: 2rem;
}

.menu-country {
  font-family: "Quicksand", system-ui;
  font-size: 1.5rem;
}

.dropdown-toggle::after {
  font-family: "Material Symbols Outlined" !important;
  content: "\eac3" !important; /* Replace this with the correct symbol code */
  font-weight: normal;
  font-size: 2rem;
  vertical-align: middle !important;
  margin-left: 0 !important;
  border-top: 0 !important;
  border-left: 0.1em solid transparent !important;
  border-right: 0 !important;
  color: #a29320;
  transform: rotate(-45deg);
}

.dropdown-menu {
  border: none !important;
  border-right: 1px solid #a29320 !important;
  --bs-dropdown-border-radius: none !important;
  --bs-dropdown-min-width: 18rem !important;
  text-align: end !important;
}

.dropdown-item:hover {
  border-right: 2px solid #a29320 !important;
}
