.container-country {
  display: flex;
  flex-direction: column;
  /* align-items: center; */
}

.header-country {
  text-align: end;
  width: 100%;
  position: relative;
  right: 0;
}

.big-photo-country {
  width: 100%;
  max-height: 100vh;
  object-fit: cover;
}

.name-country {
  font-family: "Orbitron", system-ui;
  text-align: center;
  padding: 0 0.5rem;
  padding-bottom: 1rem;
  margin: 3rem auto;
  margin-bottom: 5rem;
  font-size: 17vw;
  max-width: 100%;
  word-wrap: break-word;
  white-space: normal;
  overflow-wrap: break-word;
  text-shadow: -1px -1px 0 #a29320, 1px -1px 0 #a29320, -1px 1px 0 #a29320,
    1px 1px 0 #a29320;
  text-align: left;
  line-height: 0.8;
  display: flex;
  justify-content: start;
  align-items: center;
}

.name-country.tag-title {
  font-size: 10vw;
  line-height: 1.2;
}

@media (max-width: 600px) {
  .name-country {
    font-size: 15vw;
  }

  .name-country.tag-title {
    font-size: 8vw;
  }
}

.text-country {
  font-family: "Quicksand", system-ui;
  text-align: justify;
  padding: 0 1rem 0 2rem;
  margin: 2rem 0;
}

.golden-line {
  width: 100%;
  height: 1px;
  background-color: #a29320;
}
